/* base */
:root {
    --buttons-bg: #f4fcff;
    /* --buttons-normal-shadow: #00000052 .2vw .2vw 1vh 1px, inset rgb(0 0 0 / 2.5%) 0 0 0vh .8vw;
    --buttons-hover-shadow: var(--buttons-normal-shadow), inset var(--blue) 0 0 0vh .2vw; */
    --buttons-normal-shadow: #0000004d 0 2px 6px 2px, inset rgb(0 0 0 / 2.5%) 0 0 0 8px;
    --buttons-hover-shadow: var(--buttons-normal-shadow), inset var(--blue) 0 0 0 3px;
    --scrollbar-height-width: 52px;
}

body {
    background-color: #ffffff;
}

* {
    cursor: url('../assets/cursor.png'), auto;
}


/* scrollbar */
::-webkit-scrollbar {
    background: none;
    width: var(--scrollbar-height-width);
}

::-webkit-scrollbar-thumb {
    background-color: #f0fbff;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: #cdcdcd;
}

/* buttons base */
::-webkit-scrollbar-button:single-button {
    background: #f4fcff;
    border: 1px var(--blue) solid;
    border-radius: 8px;
    height: var(--scrollbar-height-width);
}

/* up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('/shop/assets/channel-list-up.png');
    background-size: cover !important;
    background-position: center !important;
}

/* down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('/shop/assets/channel-list-down.png');
    background-size: cover !important;
    background-position: center !important;
}


/* bg */
#bg .bggradients {
    position: fixed;
    top: 0;
    z-index: -10;
}

#bg .bggradients img {
    position: fixed;
    top: 0px;
    width: 3vw;
    height: 100vh;
    overflow: hidden;
    transition: none;
}

#bg .bggradients img.l {
    left: -1vw;
}

#bg .bggradients img.r {
    left: 98vw;
    rotate: 180deg;
}

#bg .dots {
    position: fixed;
    margin: 0px;
    height: 456px;
    transition: none;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 12px;
}

#bg .dots * {
    position: relative;
}

#bg .dots .b {background: url(../shop/assets/bgdot.png);background-size: 8px;width: 100vw;height: 7px;position: relative;top: 359px;}

#bg .dots .t {
    background: url('../shop/assets/bgdot.png');
    background-size: 8px;
    width: 100vw;
    height: 7px;
    position: relative;
    top: 64px;
}


/* main */
#aspectcontainer {
    position: fixed;
    margin: 0px;
    width: 556px;
    height: 456px;
    transition: none;
}

.header {
    line-height: 48px;
    font-size: 28px;
    letter-spacing: -1px;
    color: #37bef4;
    margin-top: 22px;
    padding: 0 2px;
    transition: none;
}

.subheader {
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    letter-spacing: -1px;
    color: black;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 10px;
}

h2 {color: #333}


/* titles (aka channels) */
.title-container {
    border: 1px var(--blue) solid;
    padding: 10px;
    padding-top: 26px;
    width: 92%;
    height: 238px;
    margin: auto;
    margin-right: 6px;
    margin-top: 18px;
    overflow-y: scroll;
}

.titles {
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titles .product {
    background: var(--buttons-bg);
    box-shadow: var(--buttons-normal-shadow);
    border: 1px var(--blue) solid;
    border-radius: 6px;
    padding: 6px 10px;
    display: grid;
    grid-template-columns: max-content auto;
    transition: n;
    font-size: 6px;
}

.titles .product:hover {
    box-shadow: var(--buttons-hover-shadow);
}

.titles .product[downloaded] {
    background: #dcf6ff;
}

.titles .product .preview {
    border: 1px var(--blue) solid;
    width: 110px;
    height: 97%;
    background-size: cover !important;
    background-position: center !important;
}

.titles .product .below {
    display: grid;
}

.titles .product .below span {
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}

.titles .product .spacer {
    background: var(--blue);
    margin: 0;
    border: 0;
    height: 1px;
    margin-bottom: 1px;
}

.titles .product:hover .spacer {
    height: 2px;
    margin-bottom: 0;
}

.titles .product .info {
    margin-left: 6px;
}

.titles .product .title {
    display: block;
    width: 300px;
    height: 36px;
    color: #666;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
}

.rename-header {
    display: none;
}


/* content iframe */
#content {
    position: sticky;
    width: 100%;
    height: 302px;
}

#contentframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* buttons */
.buttonlikeshop, .buttonlikeshop2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    transition: none;
}

.buttonlikeshop {
    background: #f4fcff;
    box-shadow: var(--buttons-normal-shadow);
    border: 1px var(--blue) solid;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 0;
}

.buttonlikeshop:hover {
    box-shadow: var(--buttons-hover-shadow);
}

.buttonlikeshop2 {
    background: #e6fff2;
    box-shadow: #00000052 2px 2px 4px 0px;
    border-radius: 10vh;
    padding: 2px 0;
}

.buttonlikeshop2:hover {
    background: #cdf8ff;
}


/* bottom */
.bottom {
    padding-top: 5px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom * {
    width: 100%;
}

.bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom div .pt {
    color: var(--blue);
    font-size: 20px;
    line-height: 20px;
}

.bottom div .label {
    font-size: 15px;
    line-height: 15px;
}

@media (max-aspect-ratio: 4/3) {
    .header, .bottom
    {padding: 0 3vw;}
}